#This file is an example file on now a object file is made
#In the first line we have the name
Example
#In the second line we have the type
Example Type
#then we have the color, divided in his three component: red, green and blue
31
255
9
#In the next line we have the radius, in km
2431
#In the last line we have the mass (in tons, each tons is 1000 Kg)
123677774000
#
#NOTE:
#-Not put spaces and '\n' where don't request
